<h2>Home</h2>




<form action="/shorten-url" method="post">
    <label for="url"> Long-URL</label>
    <input type="text" name="url" id="" placeholder="url">
    <input type="submit" value="submit" class="btn">
</form>

